body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
}

.chat-container {
    display: flex;
    margin: 0;
    /* margin-bottom: 5%; */
    height: 100vh; /* Keeps the container full height */
    width: 100%;
    overflow-y: scroll;
}

.user-list {
    flex: 1;
    margin: 2%;
    padding: 1%;
}

.chat-area {
    flex: 3;
    margin: 2%;
    margin-left: 0;
    padding: 1%;
}

.chat-title,
.active-users-title, .active-lobbies-title {
    text-align: center;
    color: #333;
    font-size: 1.8rem; /* Ensuring all titles have a consistent font size */
    margin-bottom: 20px; /* Adding space below titles */
}

.username-input,
.message-input,
.lobby-input,
.search-input,
.recipient-select {
    padding: 10px; /* Consistent padding for inputs */
    margin: 10px 0; /* Consistent margins for inputs */
    width: calc(100% - 22px); /* Full width minus some margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-size: 1rem; /* Consistent font size */
}

.message-input {
    margin-right: 10px; /* Space between input and button */
}

.send-button,
.theme-toggle-button,
.set-username-button,
.create-lobby-button {
    padding: 10px 15px;
    background-color: #007bff; /* Primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Consistent font size */
    transition: background-color 0.3s ease; /* Smooth background transition */
}

.send-button:hover,
.theme-toggle-button:hover,
.set-username-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
    width: 100%;
}

.light {
    background-color: #f4f4f4;
}

.light .messages {
    background-color: #fafafa;
}

.dark {
    background-color: #1c1c1c;
}

.dark .chat-title,
.dark .active-users-title, .active-lobbies-title {
    color: #f4f4f4;
}

.dark .username-input,
.dark .message-input,
.dark .lobby-input,
.dark .search-input,
.dark .recipient-select,
.dark .lobby-select {
    background-color: #333;
    color: #f4f4f4;
    border: 1px solid #555;
}

.dark .send-button,
.dark .theme-toggle-button,
.dark .set-username-button {
    background-color: #007bff; /* Maintain primary color in dark mode */
}

.dark .send-button:hover,
.dark .theme-toggle-button:hover,
.dark .set-username-button:hover {
    background-color: #0056b3; /* Maintain hover effect in dark mode */
}

.messages-title-dark {
    color: white;
    font-style: italic;
    font-size: 1.5rem;
}

.messages-title-light {
    font-style: italic;
    font-size: 1.5rem;
}

.dark .messages {
    background-color: #444;
}

.message-display {
    padding: 10px; /* Uniform padding for message displays */
    margin: 5px 0; /* Space between messages */
    border-radius: 5px; /* Rounded corners for message bubbles */
}

.dark .message-display {
    background-color: #444;
    color: white;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list-item, .lobby-list-item {
    padding: 10px; /* Adjust padding for responsiveness */
    background-color: #e9ecef; /* Light background for user items */
    margin-bottom: 5px; /* Space between user items */
    border-radius: 5px; /* Consistent rounding */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.user-list-item:hover {
    background-color: #d1d1d1; /* Darker shade on hover */
}

.messages {
    height: 40vh;
    padding: 10px; /* Uniform padding for messages */
    overflow-y: auto;
}

.lobby-select {
    padding: 10px; /* Consistent padding for dropdown */
    margin: 10px 0; /* Consistent margins for dropdown */
    width: calc(100% - 22px); /* Full width minus some margin */
    border: 1px solid #ccc; /* Similar border to inputs */
    border-radius: 5px; /* Rounded corners for consistency */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-size: 1rem; /* Consistent font size */
    margin-left: 10px; /* Add left margin for spacing */
}


.messages::-webkit-scrollbar {
    width: 8px; /* Adjust scrollbar width */
}

.messages::-webkit-scrollbar-track {
    background: #848484;
    border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: #222222;
}

/* New styles for Server and DM messages */
.message-server {
    color: red;
}

.message-dm {
    font-style: italic;
}
